#chart-1 .chart{
	height: 250px;
	width: 511px;
}

#chart-2 canvas, #chart-3 canvas, {
	height: 250px;
	width: 511px;
}

div[id^="chart-"] {
	padding: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
}

div[id^="chart-"] div[class="col"] {
	padding: 10px;
}

div[id^="chart-"]:last-child{
	border-bottom: none;
}
